*{
  margin:0 !important;
}
.App {
  text-align: center;
  background-color:rgb(228, 225, 225);
  background-size:cover;
  height:100vh;
}
.navigation{
  background-color:black;
}
.navigation a{
  color: beige;
}